spring:
    datasource:
        url: jdbc:h2:file:./data/gamelove
        username: admin
        password: password
        driver-class-name: org.h2.Driver
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        hibernate:
            ddl-auto: update
    h2:
        console:
            enabled: false
server:
    port: 80
    servlet:
        context-path: /gamelove

logging:
    level:
        root: info
        org.springframework.web: info
    logback:
        rollingpolicy:
            max-history: 7
    file:
        name: "./logs/bell-schedule.log"

jwt:
    secret: "Rl7$u!&0k7Fb"
    expirationInMs: 1800000

page:
    size:
        max: 10
